<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.noq.LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.noq.Receipts" >
        </activity>
        <activity android:name="com.example.noq.Receipt1" >
        </activity>
        <activity android:name="com.example.noq.Receipt2" >
        </activity>
        <activity android:name="com.example.noq.Receipt3" >
        </activity>
        <activity android:name="com.example.noq.SignUp" >
        </activity>
        <activity android:name="com.example.noq.HomePg" >
        </activity>
        <activity
            android:name="com.example.noq.Receipt1Display"
            android:label="@string/title_activity_receipt1_display"
            android:parentActivityName="com.example.noq.Receipts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noq.Receipts" />
        </activity>
        <activity
            android:name="com.example.noq.Receipt1View"
            android:label="@string/title_activity_receipt1_view"
            android:parentActivityName="com.example.noq.Receipts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noq.Receipts" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    
</manifest>